<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <ul>
        <li>Имя: <strong>{{name}}</strong></li>
        <li>Отчество: <strong>{{fathername}}</strong></li>
        <li>Фамилия: <strong>{{surname}}</strong></li>
        <li>телефон: <strong>{{phone_number}}</strong></li>
        <li>email: <strong>{{email}}</strong></li>
    </ul>
</body>
</html>