<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{item.name}}]</title>
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a> <a href="/items">Items</a> <a href="/about">About</a>
    </nav>
    <h2>{{item.id}}</h2>
    <div>
        <p>Наименование: {{item.name}}</p>
    </div>
    <div>
        <p>Производитель: {{item.brand}} </p>
    </div>
    <div>
        <p>Количество: {{item.count | default:"товара нет на складе"}}</p>
    </div>
      <div>
        <p>Описание {{item.description}}</p>
    </div>
    <br>
    <a href="/items">Назад к списку товаров</a>
</body>
</html>