{% extends "base.html" %}
{% block title %} Item page {% endblock  %}

{% block content %}
    {{ block.super }}
    <div>
        <h3>Наименование: {{item.name}}</h3>
    </div>
    <div>
        <h3>Производитель: {{item.brand}} </h3>
    </div>
    <div>
        <h3>Количество: {{item.count | default:"товара нет на складе"}}</h3>
    </div>
    <div>
        <h3>Цвета:</h3>
    </div>
    {% for color in colors %}
        <div style="display: inline-block; width: 10px; height: 10px; background-color: {{color.name}};"></div>
        {{color.name}} <br>
    {% empty %}
        <p>Информация по цветам отсутствует.</p>
    {% endfor %}
    <div>
        <h3>Описание: </h3>
        <p>{{item.description}}</p>
    </div>
    <br>

{% endblock  %}