<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товар</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    {% for item in goods  %}
        {% if item.id == req_id %}
            <h2>{{item.id}}</h2>
            Наименование: {{item.name}} <br>
            Количество: {% if item.quantity != 0 %}{{item.quantity}}{% else %}Товар отсутствует{% endif %}   
        {% endif %}
    {% endfor %}
<br>
<br>
<a href="/items">Назад к списку товаров</a>
</body>
</html>