<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товары</title>
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a> <a href="/items">Items</a> <a href="/about">About</a>
    </nav>
    <h2>Список товаров:</h2>
    <ol>
        {% for item in goods  %}
        <li><a href="item/{{item.id}}">  {{item.name}} (Количество: {% if item.count != 0 %}{{item.count}}{% else %}Товар отсутствует{% endif %}) </a> </li>
        {% endfor %}
    </ol>
</body>
</html>