<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товары</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <h2>Список товаров:</h2>
    <ol>
        {% for item in goods  %}
        <li> {{item.name}} (Количество: {% if item.quantity != 0 %}{{item.quantity}}{% else %}Товар отсутствует{% endif %}) <a href="item/{{item.id}}"> Перейти </a> </li>
        {% endfor %}
    </ol>   
</body>
</html>